* {
    margin: 0;
    padding: 0;
}

body {
    width: 1360px;
    margin: 0 auto;
    background-color: #E1D4C9;
}

body header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

body header nav {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}

body header nav p {
    font: 600 16px Inter;
    color: #403F3D;
}

body header a {
    text-decoration: none;
}

body header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    height: 30px;
}

body header .menu p {
    font: 600 16px Inter;
    color: #403F3D;
}

body header .menu:hover {
    border-bottom: 2px solid #403F3D;
}

body main .preview {
    background-image: url(../images/preview.svg);
    width: 100%;
    height: 644px;
    border-radius: 40px;
}

body main .preview .cafe {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 530px;
    height: 444px;
    padding-top: 100px;
    padding-left: 100px;
}

body main .preview h1 {
    font: 600 72px Inter;
    color: #E1D4C9;
}

body main .preview h1 span {
    color: #B0907A;
    font-style: italic;
}

body main .preview p {
    font: 400 16px Inter;
    color: #E1D4C9;
    line-height: 150%;
}

body main .preview .cafe a {
    text-decoration: none;
}

body main .preview .cafe .menu-button {
    background-image: url(../images/menu-default.svg);
    width: 200px;
    height: 64px;
    border-radius: 100px;
}

body main .preview .cafe .menu-button:hover {
    background-image: url(../images/menu-hover.svg);
}

body main .choose-coffee {
    margin-top: 100px;
}

body main .choose-coffee h1 {
    font: 600 60px Inter;
    color: #403F3D;
    text-align: center;
}

body main .choose-coffee h1 span {
    color: #B0907A;
    font-style: italic;
}

body main .choose-coffee .carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

body main .choose-coffee .carousel .left-arrow {
    background-image: url(../images/left-arrow.svg);
    width: 60px;
    height: 60px;
}

body main .choose-coffee .carousel .left-arrow:hover {
    background-image: url(../images/left-arrow-hover.svg);
    transform: rotate(180deg);
}

body main .choose-coffee .carousel .coffee {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 480px;
    height: 640px;
}

body main .choose-coffee .carousel .options {
    background-image: url(../images/coffee-slider-1.svg);
    width: 480px;
    height: 480px;
}

body main .choose-coffee .carousel .description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

body main .choose-coffee .carousel .description h2 {
    font: 600 24px Inter;
    color: #403F3D;
    text-align: center;
}

body main .choose-coffee .carousel .description p {
    font: 400 16px Inter;
    color: #403F3D;
    text-align: center;
    line-height: 150%;
}

body main .choose-coffee .carousel .right-arrow {
    background-image: url(../images/right-arrow.svg);
    width: 60px;
    height: 60px;
}

body main .choose-coffee .carousel .right-arrow:hover {
    background-image: url(../images/right-arrow-hover.svg);
}

body main .gallery {
    margin-top: 100px;
}

body main .gallery h1 {
    font: 600 60px Inter;
    color: #403F3D;
    text-align: left;
}

body main .gallery h1 span {
    color: #B0907A;
    font-style: italic;
}

body main .gallery .pictures {
    display: flex;
    gap: 40px;
    width: 1360px;
    height: 1060px;
    margin-top: 40px;
}

body main .gallery .pictures img {
    border-radius: 20px;
}

body main .gallery .pictures .left-side {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

body main .gallery .pictures .right-side {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

body main .mobile-app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1360px;
    height: 630px;
    margin-top: 100px;
}

body main .mobile-app .about-app {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 630px;
    height: 342px;
}

body main .mobile-app .about-app h1 {
    font: 600 60px Inter;
    color: #403F3D;
}

body main .mobile-app .about-app h1 span {
    color: #B0907A;
    font-style: italic;
}

body main .mobile-app .about-app p {
    font: 400 16px Inter;
    color: #403F3D;
    font-family: Inter;
    line-height: 150%;
}

body main .mobile-app .about-app .shop {
    display: flex;
    gap: 20px;
}

body main .mobile-app .about-app .shop .store {
    display: flex;
    gap: 8px;
    align-items: center;
    padding-left: 20px;
    border: 1px solid #665F55;
    width: 177px;
    height: 64px;
    border-radius: 100px;
}

body main .mobile-app 
.about-app .shop .store .left {
    background-image: url(../images/apple-dark.svg);
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: contain;
}

body main .mobile-app 
.about-app .shop .store .right {
    display: flex;
    flex-direction: column;
}

body main .mobile-app 
.about-app .shop .right .available {
    font: 600 10px Inter;
    color: #403F3D;
    line-height: 140%;
}

body main .mobile-app 
.about-app .shop .right .platform {
    font: 600 16px Inter;
    color: #403F3D;
    line-height: 150%;
}

body main .mobile-app .about-app .shop .market {
    display: flex;
    gap: 8px;
    align-items: center;
    padding-left: 20px;
    border: 1px solid #665F55;
    width: 177px;
    height: 64px;
    border-radius: 100px;
}

body main .mobile-app 
.about-app .shop .market .left {
    background-image: url(../images/market-dark.svg);
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: contain;
}

body main .mobile-app 
.about-app .shop .market .right {
    display: flex;
    flex-direction: column;
}

/* body main .mobile-app .about-app .store {
    background-image: url(../images/button-store.svg);
    width: 200px;
    height: 64px;
} 

body main .mobile-app .about-app .store:hover {
    background-image: url(../images/button-store-hover.svg);
}

body main .mobile-app .about-app .market {
    background-image: url(../images/button-google-play.svg);
    width: 200px;
    height: 64px;
}

body main .mobile-app .about-app .market:hover {
    background-image: url(../images/button-google-play-hover.svg);
} */

body main .mobile-app .phone {
    background-image: url(../images/mobile-screens.svg);
    width: 630px;
    height: 630px;
}

body footer .rectangle {
    display: flex;
    align-items: center;
    background-color: #665F55;
    width: 100%;
    height: 450px;
    border-radius: 40px;
    margin: 100px 0 40px 0;
}

body footer .rectangle .media {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 530px;
    height: 250px;
    padding: 100px;
}

body footer .rectangle .media h1 {
    font: 600 60px Inter;
    color: #E1D4C9;
}

body .rectangle .media h1 span {
    color: #B0907A;
    font-style: Italic;
}

body .rectangle .media .icon {
    display: flex;
    gap: 12px;
}

body .rectangle .media .icon .instagram {
    background-image: url(../images/instagram.svg);
    width: 60px;
    height: 60px;
}

body .rectangle .media .icon .instagram:hover {
    background-image: url(../images/instagram-hover.svg);
}

body .rectangle .media .icon .facebook {
    background-image: url(../images/facebook.svg);
    width: 60px;
    height: 60px;
}

body .rectangle .contact {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 530px;
    height: 186px;
}

body .rectangle .contact h3 {
    font: 600 24px Inter;
    color: #E1D4C9;
}

body .rectangle .contact .info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 262px;

}

body .rectangle .contact .info .address {
    background-image: url(../images/address.svg);
    width: 182px;
    height: 28px;
}

body .rectangle .contact .info .address:hover {
    background-image: url(../images/address-hover.svg);
}

body .rectangle .contact .info div {
    display: flex;
    gap: 4px;
    height: 28px;
    align-items: center;
}

body .rectangle .contact .info p {
    font: 600 16px Inter;
    color: #E1D4C9;
}